/*
* mod
* @author yefei.niuyf
* @version 2012-12-19
*/
.ui-mod {
border: 1px solid #d8d8d8;
background-color:#fff;
}
.ui-mod .ui-mod-hd {
background-color: #fafafa;
background-image: -moz-linear-gradient(top , #fff, #f8f8f8);
background-image: -ms-linear-gradient(top , #fff, #f8f8f8);
background-image: -webkit-gradient(linear, 0 0, left 100%, from(#fff), to(#f8f8f8));
background-image: -webkit-linear-gradient(top , #fff, #f8f8f8);
background-image: -o-linear-gradient(top , #fff, #f8f8f8);
background-image: linear-gradient(top , #fff, #f8f8f8);
padding:5px 8px 0;
height:25px;
}
.ui-mod .ui-mod-hd h3{
font-size:14px;
font-weight:700;
}
.ui-mod .ui-mod-bd {
border-top:1px solid #eee;
padding:8px;
}
.ui-mod-main .ui-mod-hd {
padding:5px 16px 0;
}
.ui-mod-main .ui-mod-bd {
padding:16px;
}